.a4 {
  width: 210mm;
  height: 297mm;
  padding: 1cm;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fffdf6;
  border: 1px dashed #ede8e0;
  overflow: hidden;
}
.a4 h1,
h2 {
  font-size: 24px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.a4-title {
  font-size: 24px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}
.a4-subtitle {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
}

.a4 p {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
}

.a4 .head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/* .a4 .head h1 {
  font-size: 24px;
  font-family: 'Sanomat Light';
  font-weight: 500;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
} */

.a4 .head span {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a4 .content .grid-table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.a4 .content .grid-table .table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .grid-table .table .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.a4 .content .grid-table .table .row .cell-title {
  width: 160px;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #ede8e0;
  border-left: 2px solid #b87700;
  border-bottom: 1px solid #ede8e0;
  border-right: 1px solid #ede8e0;
  padding: 8px;
}

.a4 .content .grid-table .table .row .cell-content {
  width: 160px;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ede8e0;
  border: 1px solid #ede8e0;
  padding: 8px;
}

.a4 .content .grid-table .table .row .cell-title,
.cell-content .cell-text,
span {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

/* .a4 .content .text-block h2 {
  font-size: 24px;
  font-family: 'Sanomat Light';
  font-weight: 300;
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
} */

/* .a4 .content .text-block p {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
} */

.a4 .content .galery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.a4 .content .galery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.a4 .content .highlight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid .highlight-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid .highlight-item span {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .highlight .highlight-grid .highlight-item strong {
  font-size: 16px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .galery-col-1 {
  width: 100%;
  height: 200px;
}

.a4 .content .galery-col-1 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}
