.a4 {
  width: 210mm;
  height: 297mm;
  padding: 1cm;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fffdf6;
  border: 1px dashed #ede8e0;
  overflow: hidden;
}

.a4 h1,
h2 {
  font-size: 24px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.a4-title {
  font-size: 24px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.a4-subtitle {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
}

.a4 p {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
}

.a4 .head {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.a4 .head span {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.a4 .content .grid-table {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}

.a4 .content .grid-table .table {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .grid-table .table .row {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.a4 .content .grid-table .table .row .col-label {
  width: 160px;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #ede8e0;
  border-left: 2px solid #b87700;
  border-bottom: 1px solid #ede8e0;
  border-right: 1px solid #ede8e0;
  padding: 8px;
}

.a4 .content .grid-table .table .row .col-value {
  width: 160px;
  height: 40px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #ede8e0;
  border: 1px solid #ede8e0;
  padding: 8px;
}

.a4 .content .grid-table .table .row .col-label,
.a4 .content .grid-table .table .row .col-value .cell-label {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .text-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .text-block .title {
  font-size: 24px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.5;
  letter-spacing: 0.05em;
  margin: 0;
}

.a4 .content .text-block .editor-block {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #757575;
  line-height: 1.5;
  margin: 0;
}

.a4 .content .galery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.a4 .content .galery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

/* padrão: grid (2-3 imagens) */
.image-grid {
  width: 100%;
  display: grid;
  gap: 8px;
}

.image-cell img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

/* ✅ quando tem 1 imagem: ocupar a largura toda e ter “altura de banner” */
.image-grid-block .is-single .image-grid {
  display: block; /* não precisa grid */
}

.image-grid-block .is-single .image-cell {
  width: 100%;
  height: 200px; /* ajuste aqui: 180/200/220 conforme seu layout */
}

.image-grid-block .is-single .image-cell img {
  width: 100%;
  height: 300px; /* igual ao container */
  object-fit: contain; /* igual seu anexo: gráfico não corta */
}
.a4 .content .highlight {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid .highlight-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.a4 .content .highlight .highlight-grid .highlight-item span {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .highlight .highlight-grid .highlight-item strong {
  font-size: 16px;
  font-family: 'Sanomat Light';
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.a4 .content .galery-col-1 {
  width: 100%;
  height: 200px;
}

.a4 .content .galery-col-1 img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* TIP TAP EDITOR */

.ProseMirror {
  border: 1px solid transparent;
  border-radius: 4px;
}

.ProseMirror:focus {
  outline: none;
  border: 1px dashed rgba(0, 0, 0, 0.25);
}
