/* CSS A4 */
.a4-sheet {
  width: 210mm;
  height: 297mm;
  padding: 1cm;
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #fffdf6;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Cabeçalho */
.page-head {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.page-head .page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-head .page-header .month-ref {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.page-head .page-header .month-ref h3 {
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  color: #282828;
  line-height: 190%;
  margin: 0;
}

.page-head .page-header .month-ref .date-ref {
  display: flex;
  align-items: center;
  gap: 8px;
}

.page-head .page-header .month-ref .date-ref span {
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 400;
  color: #282828;
  line-height: 160%;
}

.page-head .page-header .month-ref .date-ref .bar {
  width: 1px;
  height: 18px;
  background-color: #b87700;
}

.page-head .logo img {
  width: 100px;
}
/* Conteúdo */
.content {
  height: 100%;
}

.content .content-title {
  width: 100%;
  border-bottom: 1px solid #757575;
  margin-bottom: 16px;
}

.content .content-title h1 {
  font-size: 20px;
  font-family: 'Inter';
  font-weight: 500;
  text-align: left;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.05em;
  padding-bottom: 4px;
  margin: 0;
}

.content .box {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.content .box .box-title {
  width: 100%;
  margin-bottom: 8px;
}

.content .box .box-title h2 {
  font-size: 16px;
  font-family: 'Inter';
  font-weight: 500;
  text-align: left;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.content .box .box-subtitle {
  width: 100%;
  margin-bottom: 8px;
}

.content .box .box-subtitle h3 {
  font-size: 14px;
  font-family: 'Inter';
  font-weight: 500;
  text-align: left;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.content .box .box-content {
  display: flex;
  align-items: baseline;
  column-gap: 24px;
  row-gap: 16px;
  flex-wrap: wrap;
  margin-bottom: 16px;
}

.content .box .box-content .box-content-title {
  width: 100%;
  margin-bottom: 4px;
}

.content .box .box-content .box-content-title h4 {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 700;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.content .box .box-content .box-content-row {
  width: 100%;
  display: flex;
  align-items: baseline;
  column-gap: 20px;
  row-gap: 6px;
  flex-wrap: wrap;
}
/*Lista de Distribuidores */
.content .box .box-content-collumn {
  width: 100%;
  min-height: 645px;
  column-count: 2;
  column-gap: 34px;
  column-width: auto;
}

.box-content-collumn .block {
  display: flex;
  align-items: baseline;
  gap: 8px;
  break-inside: avoid;
  margin-bottom: 8px;
}

.box-content-collumn .block .item {
  flex: 1;
}

.box-content-collumn .block .item strong {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  /* white-space: nowrap; */
  margin: 0;
}

.box-content-collumn .block .item .divider {
  width: 100%;
  height: 1px;
  background-color: #ede8e0;
}

.box-content-collumn .block .item span {
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.box-content-col .box-item {
  flex: 0 0 150px;
}

.content .box .box-content .box-content-row .box-item {
  width: auto;
  /* max-width: 300px; */
  min-width: 164px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 8px;
}

.content .box .box-content .box-item strong {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  /* white-space: nowrap; */
  margin: 0;
}

.content .box .box-content .box-item .divider {
  width: 100%;
  height: 1px;
  background-color: #ede8e0;
}

.content .box .box-content .box-item .double-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.content .box .box-content .box-item span {
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.contact {
  display: flex;
  align-items: center;
  gap: 8px;
}

.contact strong {
  font-size: 12px;
  font-family: 'Inter';
  font-weight: 500;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

.contact span {
  font-size: 10px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  line-height: 1.3;
  letter-spacing: 0.02em;
  margin: 0;
}

/** Rodapé */
.footer {
  display: flex;
  align-items: center;
  gap: 8px;
  height: 60px;
}

.footer .anbima {
  width: 250px;
}
.footer .anbima img {
  width: 100%;
}

/* Observações */

.obs-content {
  margin-bottom: 16px;
}

.obs {
  font-size: 8px;
  font-family: 'Inter';
  font-weight: 300;
  color: #282828;
  text-align: left;
  line-height: 1.3;
  letter-spacing: 0.05em;
}
